<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195831505361-hgprofqfi5iu8peupubj7eatt0u8ia17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195831505361-hgprofqfi5iu8peupubj7eatt0u8ia17</string>
	<key>API_KEY</key>
	<string>AIzaSyDjUNcNRmT8gPV4r4b_WDP8kKHY8WJuv_U</string>
	<key>GCM_SENDER_ID</key>
	<string>195831505361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Zoya-s-App.Wellness-World</string>
	<key>PROJECT_ID</key>
	<string>wellness-world-b0036</string>
	<key>STORAGE_BUCKET</key>
	<string>wellness-world-b0036.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195831505361:ios:f9f9a6f72d7809feecc0f0</string>
</dict>
</plist>